@model ToDo.Extensibility.Dto.ToDoDto

<div class="form-group">
    <label asp-for="Description" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Description" class="form-control" />
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="control-label"></label>
            <input asp-for="IsCompleted" /> Completed?
        </div>
    </div>
</div>