@using ToDo.Extensibility.Dto;
@model IEnumerable<ToDoDto>
@{
    ViewData["Title"] = "All ToDos";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tasks: </h2>
        <ul>
            @foreach (var toDo in Model)
            {
                <li>
                    <span>Id: @toDo.Id  </span><span>Description: @toDo.Description  </span><span>Completed: @toDo.IsCompleted ? "Yes" : "No"</span>
                </li>
            }
        </ul>
    </div>
</div>