@page
@model ToDo.Pages.UI.Pages.CreateModel
@{
    ViewData["Title"] = "Create Task";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <h3>@ViewData["Title"]</h3>
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="NewToDoItem.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewToDoItem.Description" class="form-control" />
                <span asp-validation-for="NewToDoItem.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label class="control-label"></label>
                        <input asp-for="NewToDoItem.IsCompleted" /> Completed?
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</body>
</html>